rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Izinkan read dan write untuk semua dokumen dan subcollection di Firestore
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
