rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Rooms media files (photos, videos, music)
    match /rooms/{roomId}/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
